# Datasets
*.csv

# Python caches and temporary files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
ENV/
lib/
pip-selfcheck.json
